{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Barter in the Bubble</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <script> var csrf_token = '{{ csrf_token }}'; </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  {% include 'header-account.html' %}

    <div class="row">

   
    <div id="main" class="container-fluid"style="width: 85%;">
      <div class="d-flex justify-content-start">
       
      </div>


       <!-- Modal -->
   

      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mySettings">
  Contact Settings
</button>
<br>

<!-- Modal -->
<div class="modal fade" id="mySettings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="settings-modal-form-1" method="post" action="{% url 'settings' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="emailInput">Email address</label>
            <input type="email" name="email" class="form-control" id="emailInput" placeholder="Enter email" ,
              value={{user.email}}>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" form="settings-modal-form-1" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

      <br>
      <!-- begin tabs content -->
      <div class="nav-tabs-custom">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="item-tab" data-bs-toggle="tab" data-bs-target="#item" type="button" role="tab" aria-controls="item" aria-selected="false">Items</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="proposal-tab" data-bs-toggle="tab" data-bs-target="#proposal" type="button" role="tab" aria-controls="proposal" aria-selected="true">Proposals</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">History</button>
        </li>
      </ul>
    </div>
      <style>
        .nav-tabs-custom .nav-link {
          font-size: 1.25rem;
          padding: .5rem 1.5rem;
          margin-right: .5rem;
        }
        @media (max-width: 576px) {
    /* Small devices (576px and below) */
    .nav-tabs-custom .nav-link {
      font-size: 1rem;
      padding: .5rem;
      margin-right: 0;
    }
  }
        </style>
       <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="item" role="tabpanel" aria-labelledby="item-tab">
          {% include 'account-items.html' %}
        </div>
        <div class="tab-pane fade  show active" id="proposal" role="tabpanel" aria-labelledby="proposal-tab">
        {% include 'account-proposals.html' %}
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        {% include 'account-history.html' %}
        </div>
      </div>
      </div>


      <!-- end tabs -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
<!-- Script to select tab -->

<script>
  $(document).ready(function() {
    // Get URL parameters
    function getUrlParameter(name) {
      name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
      var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
      var results = regex.exec(location.search);
      return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    }

    // Set the active tab based on the URL parameter
    var activeTab = getUrlParameter('tab');
    if (activeTab == 'items') {
      var itemTab = document.getElementById("item-tab");
      var proposalTab = document.getElementById("proposal-tab");

      itemTab.classList.add("active");
      itemTab.setAttribute("aria-selected", "true");
      proposalTab.classList.remove("active");
      proposalTab.setAttribute("aria-selected", "false");

      var itemPane = document.getElementById("item");
      var proposalPane = document.getElementById("proposal");

      itemPane.classList.add("show", "active");
      itemPane.setAttribute("aria-labelledby", "item-tab");
      proposalPane.classList.remove("show", "active");
      proposalPane.setAttribute("aria-labelledby", "proposal-tab");
      var container = document.querySelector('#item-row');
  var masonry = new Masonry(container, {
    itemSelector: '.col-sm-6.col-lg-4',
    columnWidth: '.col-sm-6.col-lg-4',
    percentPosition: true});
    }
  });
</script>

      <script>
  
  
        $(document).ready(function() {
        // Bind the shown.bs.modal event to all modals
        $('.modal').on('shown.bs.modal', function() {
          console.log('modal opened');
        });
      
        // Bind the hidden.bs.modal event to all modals
        $('.modal').on('hidden.bs.modal', function() {
          console.log('modal closed');
      
          // Get the current modal
          var modal = $(this);
          console.log(modal);
        });
        $('body').on('shown.bs.modal', '.modal', function () {
        console.log('modal opened');
      });
      $('body').on('hidden.bs.modal', '.modal', function () {
        console.log('modal closed');
      });
      });
      </script>
  
          
  

    <script>
      $(document).ready(function () {
        $('#settingsModal').on('shown.bs.modal', function () {
          console.log('modal shown')
          $('#emailInput').trigger('focus')
        })
      });
    </script>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
<script>
  const searchBar = document.querySelector('#search-bar');
  searchBar.addEventListener('keydown', function (event) {
    if (event.key === 'Enter') {
      // Do something when enter key is pressed
      console.log('User pressed enter on the search bar!');
      $('#search').click();
    }
  });
</script>



<!-- Start report modal-->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog"
aria-labelledby="contactModal-label" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content" style="background-color: moccasin;">
    <div class="modal-header">
      <h5 class="modal-title" id="contactModal-label">Contact Us
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div>
      <div class="modal-body">
        <form id="contactForm" method="post"
          action="{% url 'report' %}" enctype="multipart/form-data">

          {% csrf_token %}
          <input id="reporteduser" name="reporteduser" value="luke" readonly
            style="display: none;">
          <input id="reporteditemid" name="reporteditemid" value="General Contact Report" readonly
            style="display: none;">
          <label for="reporttext">Please describe your issue or question:</label><br>
          <textarea class="form-control" id="reporttext" name="reporttext"></textarea><br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id = "close-contact" class="btn btn-outline-secondary mr-auto" data-dismiss="modal">Close</button>
        <button type="submit" form="contactForm" id = "submitContact"
          class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
$(document).ready(function () {
// Get the modal and the Contact button
const contactModal = document.getElementById("contactModal");
console.log(contactModal);
const contactButton = document.getElementById("contact-btn");
console.log('button');
console.log(contactButton);

// When the Contact button is clicked, open the modal
contactButton.onclick = function(event) {
  event.preventDefault();
  console.log('here');
  console.log(contactButton);
  console.log(contactModal);
  $('#contactModal').addClass('show').modal('show');

  contactModal.style.display = "block";
}
var closeButton = document.querySelector('#contactModal .close');
closeButton.addEventListener('click', function() {
 $('#contactModal').modal('hide');
});

// Get the close button element
var closeButton = document.getElementById("close-contact");

// When the close button is clicked, close the modal
closeButton.onclick = function() {
  //contactModal.style.display = "none";
  //contatcModal.hide();
  $('#contactModal').modal('hide');
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == contactModal) {
    contactModal.style.display = "none";
  }
}

document.getElementById("submitContact").addEventListener("click", function() {
 event.preventDefault();
 let formData = new FormData($("#contactForm")[0]);
 $.ajax({
 url: "/inspectitem/report/itemreported",
 type: "POST",
 data: formData,
 processData: false,
 contentType: false,
 success: function(response) {
   // Handle the success response
   console.log("Form submitted successfully:", response);
   // Close the modal or perform other actions based on the response
   $("#contactModal").hide();


   sentModal = `<div class="modal fade" id="sentModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="successModalLabel">Message sent</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="modal-body">
                 <p>Your message has been sent</p>
               </div>
               <div class="modal-footer">
               </div>
             </div>
           </div>
         </div>
       `;
       $('body').append(sentModal);
     //$('#contactModal').modal('hide');
     $('#sentModal').addClass('show').modal('show');
     $('#sentModal').on('hidden.bs.modal', function (e) {
             $('.modal-backdrop').remove();
           });
           setTimeout(function() {
location.reload();
}, 2000);
 },
 error: function(jqXHR, textStatus, errorThrown) {
   // Handle errors
   console.log("Error submitting the form:", textStatus, errorThrown);
 },
});

 
});});
</script>
<!-- End report modal-->

</body>
</html>



  </div>

</body>

</html>