<div class="modal fade" id="edit-item-modal-{{ result.itemid }}" tabindex="-1" role="dialog"
  aria-labelledby="edit-item-modal-{{ result.itemid }}-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: moccasin;">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-item-modal-{{ result.itemid }}-label">Edit Item {{result.itemid}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="edit-item-form" method="post" action="{% url 'edit_item' result.itemid %}"
          enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group mb-3">
            <label for="item-title" class="form-label">Title</label>
            <input type="text" class="form-control" id="item-title" name="name" value="{{ result.title }}">
            <small class="text-danger d-none" id="title-error">This field is required.</small>
          </div>
          <div class="form-group">
            <label for="item-description" class="form-label">Description</label>
            <textarea class="form-control" id="item-description" name="description">{{ result.description }}</textarea>
            <small class="text-danger d-none" id="description-error">This field is required.</small>
          </div>
          <div class="form-group mb-3">
            <label for="item-wants">Wants</label>
            <textarea class="form-control" id="item-wants" name="wants">{{ result.wants }}</textarea>
            <small class="text-danger d-none" id="description-error">This field is required.</small>
          </div>
          <div class="form-group">
            <label for="item-description">Change Image</label>
            <input type="file" id="myPhoto" name="myPhoto" accept="image/png, image/gif, image/jpeg">
          </div>
          <div class="form-group">
            <label for="item-categories">Categories</label><br>
            <div class="row">
              {% for category in categories %}
              <div class="col-4">
                <p>
                  {{result.get_active_tags}}
                        {% for tag in result.get_active_tags %}
                        {{ tag }}
                        Here
                        {% end for %}
                  </p>
                
                {% if category in result.get_active_tags %}
                <input type="checkbox" name="{{ category }}" checked autocomplete="off">
                <label>{{category}}</label><br>
                {% else %}
                <input type="checkbox" name="{{ category }}" autocomplete="off">
                <label>{{category}}</label><br>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary mr-auto" data-dismiss="modal">Close</button>
        <button type="button" id="delete-item" class="btn btn-danger">Delete Item</button>
        <button type="submit" form="edit-item-form" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- script to handle the edit item form submission -->
<script>
  document.getElementById("delete-item").onclick = function () { deleteCur() };

  function deleteCur() {
    console.log("you're in deleteCur for {{result.itemid}}");
    var csrf_token = '{{ csrf_token }}';
    var r = confirm("Are you sure you want to delete this item?");
    var form = $(this);
    if (r == true) {
      console.log('in true');
      $.ajax({
        type: 'POST',
        url: '{% url "delete_item" result.itemid %}',
        headers: { 'X-CSRFToken': csrf_token },
        success: function (response) {
          window.location = '/';
          console.log('success ajax');
        },
        error: function (xhr, status, error) {
          // handle error response from server (e.g. display an error message)
          console.log(error);
        }
      });
    }
    else {
      return false;
    }
  }


  $(function () {
    $('#edit-item-form').submit(function (event) {
      console.log('event happened')

      //event.preventDefault(); // prevent the default form submission
      var form = $(this); // reference to the form element

      var titleField = form.find('#item-title'); // reference to the title field element
      var descriptionField = form.find('#item-description'); // reference to the description field element
      var titleError = titleField.next('.text-danger'); // reference to the error message element for the title field
      var descriptionError = descriptionField.next('.text-danger'); // reference to the error message element for the description field

      // Check if the title field is empty and show an error message if necessary
      if (!titleField.val().trim()) {
        titleError.removeClass('d-none');
      }
      else {
        titleError.addClass('d-none');
      }

      // Check if the description field is empty and show an error message if necessary
      if (!descriptionField.val().trim()) {
        descriptionError.removeClass('d-none');
      }
      else {
        descriptionError.addClass('d-none');
      }

      // If either field is empty, do not submit the form
      if (!titleField.val().trim() || !descriptionField.val().trim()) {
        event.preventDefault();
        return false;
      }
      var url = form.attr('action'); // the URL to submit the form data to
      var data = form.serialize(); // serialize the form data into a URL-encoded string
    });
  });
</script>